<h1><%= @restaurant.name %></h1>
<h5>Category: <%= @restaurant.category %> </h5>

<h5>Address: <%= @restaurant.address %> </h5>

<h5>Phone Number: <%= @restaurant.phone_number %></h5>

<%= link_to "Back to List", restaurants_path %>
